@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-gray-950 text-gray-50 antialiased;
    color-scheme: dark;
  }

  /* Custom Scrollbar for premium feel */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-800 rounded-full border-2 border-gray-950 hover:bg-gray-700 transition-colors;
  }
}
